@page
@model IndexModel
@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-body">
    <div class="task">
    Необходимо написать код по автоматизации парковки. <br><br>
        Условия следующие: <br><br>
    <ul>
        <li>с 7.00 до 19.00 цена - 100 грн./час,</li>
        <li>в остальное время 70 грн./час,</li>
        <li>в выходные на 20% дешевле.  </li>
    </ul>
    <hr>
        <form method="post">
            Время и дата начала парковки: <input type="datetime-local" name="parkingStartTime" required><br>
            <br>
            Время и дата окончания парковки: <input type="datetime-local" name="parkingEndTime" required><br><br>
            <button type="submit">Рассчитать парковку</button>
        </form>

    
    <br><br><br>
    @if (Model.Input != null)
    {
        <p>Парковка : </p>
        <span>c @Model.Input.ParkingStartTime до @Model.Input.ParkingEndTime</span> <br/>
        <span>Стоимость парковки за указанное время: </span> <span style="color:red">@Model.parkingCost грн. </span>
    }
    </div>
    
</div>