@page
@model PrivacyModel
@{
    ViewData["Title"] = "Задание";
}
<h2>Задача для Junior-ов</h2>
<span>Необходимо написать код по автоматизации парковки.</span><br><br>

   <h4>Условия следующие:</h4>
<ul>
    <li>с 7.00 до 19.00 цена - 100 грн./час,</li>
    <li>в остальное время 70 грн./час,</li>
    <li>в выходные на 20% дешевле.</li>
</ul><br>
   
   <h4>Задача (например)</h4>
   <span>Сколько заплатит Вася, если он поставил машину в четверг в 17.00, а забрал только в понедельник в 8.00 утра.</span><br>
   <span>Cколько заплатит Петя, который поставил машину в субботу в 10.00 утра, а забрал в этот же день в 21.00.</span>
<br><br>
<h5>Результаты</h5>
   <span>Статистику вывести в консоль или другим способом.</span>
   <br><br>
   Как дополнение, реализовать бонус - каждый день с 7.00 до 8.00 утра - парковка бесплатно.