PATH="/usr/lib/jvm/java-17-openjdk-amd64/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin"
JAVA_HOME="/usr/lib/jvm/java-17-openjdk-amd64/"
JAVA_HOME_17_X64="/usr/lib/jvm/java-17-openjdk-amd64/"
M2_HOME="/usr/share/maven/"
